{% if auth() %}

{% extends 'auth/base.html' %}


{% block content %}


<a> You are: {{ name }}</a>
<hr>
<a> Other players:</a><br>
{% for user in users %} 
{% if user.email != name %}
{{ user.email }}<br> 
{% endif %}
{% endfor %}
<hr>

<form action="/game/create" method="POST">
    {{ csrf_field }}
    {{ back() }}

    <label> To create a new game, match a friend </label>
    <input type="name" name="friend"><br>

    <input type="submit" value="New Match">
</form>

<!-- 
<form action="/game/resume" method="POST">
    {{ csrf_field }}
    {{ back() }}


    <label> Enter Token </label>
    <input type="name" name="token"><br>

    <input type="submit" value="Resume">
</form> 
-->

<a><hr>
    {% for i in table %}
    
    {% if i.completed == False %}
    {% if name in (i.oppo_id, i.user_id) %}
        Current game token between you with
            {% if name == i.oppo_id %}
                {{ i.user_id }}
            {% else %}
                {{ i.oppo_id }}
            {% endif %}


            is: <a href="/play/{{ i.token }}" >{{ i.token }}</a>
            <br>
        {% endif %}
    {% endif %}
    {% endfor %}
</a>
    {% for i in table %}
    {% if i.completed == True %} 
        <hr>
        <br> Game Token: {{ i.token }}
        <br> Winner: {{ i.winner }}
        <br> {{ i.user_id }} vs {{ i.oppo_id }} 
        <br> Moves: {{ i.move }} 
        <br>

    {% endif %}
    
    
    
    {% endfor %} 
</a>

{% endblock %}
    
{% else %}     
    <a href="/login">Please Login</a> 
{% endif %}