{% if auth() %}
<a> You are: {{ name }}</a>
<hr>
<a> Other players (including you) </a> {% for user in users %} {{ user.name }} <br> {% endfor %}
<hr>

<form action="/game/create" method="POST">
    {{ csrf_field }}

    <label> To create a new game, match a friend </label>
    <input type="name" name="friend"><br>

    <input type="submit" value="Match">
</form>


<form action="/game/resume" method="POST">
    {{ csrf_field }}

    <label> Enter Token </label>
    <input type="name" name="token"><br>

    <input type="submit" value="Resume">
</form>
{% else %}
<a href="/login">Please Login</a> {% endif %}