{% if auth() %}
<a> You are: {{ name }}</a>
<hr>
<a> Other players (including you) </a> {% for user in users %} {{ user.name }} <br> {% endfor %}
<hr>

<form action="/game/create" method="POST">
    {{ csrf_field }}

    <label> To create a new game, match a friend </label>
    <input type="name" name="friend"><br>

    <input type="submit" value="Match">
</form>


<form action="/game/resume" method="POST">
    {{ csrf_field }}

    <label> Enter Token </label>
    <input type="name" name="token"><br>

    <input type="submit" value="Resume">
</form>

<a>{% for i in table %}
    
    {% if i.oppo_id == cuser_id and i.completed == False %}
        Current game token is: {{ i.token }}<br>
    {% endif %}
    
    {% if i.completed == True %} 
        <br> {{ i.token }}: {{ i.user_id }} vs {{ i.oppo_id }} <br> {{ i.move }} <br>
    {% endif %}
    
    
    
    {% endfor %} </a>




{% else %} <a href="/login">Please Login</a> {% endif %}